<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Page</title>
    <script src="https://kit.fontawesome.com/61c7615a39.js" crossorigin="anonymous"></script>
    
</head>
<body>
    Choose your avatar!
    <button>
        <i class="fa-solid fa-bomb"></i>
    </button>
    <div>
        <i class="fa-solid fa-bomb"></i>
        <i class="fa-solid fa-face-awesome"></i>
        <i class="fa-solid fa-hippo"></i>
        <i class="fa-solid fa-ghost"></i>
    </div>
    

</body>

</html>