<!DOCTYPE html>
<html lang="en-US">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StudySpaces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
</head>
 
<body>
    <h1>Study Space: $tud 5 Bitchezzz</h1>
    <h1> </h1>
    <p> Hello, {{ name }}.</p>
    <div id="map" style="width:100%;height:600px;"> </div>
    <p id = "demo">Waiting for location...</p>
    <p id = "temp"> Debugging... </p>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapstyles.js')}}"></script>
    <script async = "false" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWk_UdE_K2CPBB6CsIfTEl3frqnfm1Ue4&callback=initMap"></script>

    <script>
        var x = document.getElementById("demo");
        var temp = document.getElementById("temp");
        var gmap;
        var marker = 0;
        var latitude = -1000;
        var longitude = -1000;
        var loc = { lat: -1000, lng: -1000};
        var firstLoad = true;

        function loadCenter() {
            if (firstLoad) {
                firstLoad = false;
            }
            else {
                marker = 0;
                document.getElementById("marky").innerText = "MARK YOURSELF";
            }

            getLocation();
        }

        function initMap(def_lat = -1000, def_long = -1000) {
            zoomNum = 18;
            if (def_lat == -1000 && def_long == -1000){
                def_lat = 0;
                def_long = 0;
                zoomNum = 1;
                gmap = new google.maps.Map(document.getElementById("map"), {
                center: {lat: def_lat, lng: def_long},
                zoom: zoomNum,
                styles: custom_map_style });
            }
            else {
                gmap.setZoom(zoomNum);
                gmap.setCenter(loc)
            }
        }
        
        function addMarker() {
            if (latitude == -1000 && longitude == -1000) {
                temp.innerText = "no marker"
                return;
            }

            const icon_image = {
                url: 'https://media.discordapp.net/attachments/711328926777081916/1025904567751286835/IMG_3961.png',
                scaledSize: new google.maps.Size(50, 50),
            };
            
            if (marker == 0) {
                temp.innerText = "marked";
                marker = new google.maps.Marker({
                    position: loc,
                    map: gmap,
                    icon : icon_image,
                });
                document.getElementById("marky").innerText = "HIDE YOURSELF";
            }
            else {
                marker.setMap(null);
                marker = 0;
                document.getElementById("marky").innerText = "MARK YOURSELF";
            }
        }

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError)
                initMap(latitude, longitude);
            } 
            else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            latitude = position.coords.latitude
            longitude = position.coords.longitude
            loc = { lat: latitude, lng: longitude};

            x.innerHTML = "Latitude: " + latitude + 
            "<br>Longitude: " + longitude; 
        }

        function showError(error) {
            switch(error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation"
                    break;

                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable."
                    break;

                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out."
                    break;

                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred."
                    break;
            }
        }

        getLocation();
    </script>
    
    <button onclick="loadCenter()">Center the Map</button>
    <button id = "marky" onclick="addMarker()"> MARK YOURSELF </button>
</body>
 
</html>